body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.debug-pos {
  font-size: 0.5em;
  color: #aaa;
  position: absolute;
  bottom: 0;
  right: 0;
}
.cell-container {
  position: relative;
  border: 4px solid #000;
}
.center {
    position: absolute;
    left: 0;
    top: 12%;
    width: 100%;
    text-align: center;
}
.row {
  margin-bottom: -10px;
}

.selected {
  border-color: #f00;
  border-style: dashed;
}

.validmove {
  border-color: #aaa;
  border-style: dashed;
}
